@charset "UTF-8";
html,
body,
ul,
li,
button,
input,
textarea,
h1,
h2,
h3,
h4,
.header__link,
.nav__item,
.nav__item-mobile,
h5 {
  margin: 0;
  padding: 0; }

html {
  overflow-x: hidden; }

a {
  text-decoration: none; }

li {
  list-style-type: none; }

textarea {
  resize: none; }

h1,
h2,
h3,
h4,
.header__link,
.nav__item,
.nav__item-mobile,
button {
  font-family: "Poppins", sans-serif;
  font-weight: 600; }

h1 {
  font-size: 64px;
  line-height: 68px;
  letter-spacing: -2px; }

h2 {
  font-size: 52px;
  line-height: 78px; }

h3 {
  font-size: 32px;
  line-height: 48px; }


h4,
.header__link,
.nav__item,
.nav__item-mobile {
  font-size: 13px;
  line-height: 19px; }

p {
  font-family: "Open Sans", sans-serif; }

.header {
  height: 800px;
  position: relative;
  background: #008aff;
  border-radius: 0 0 0 200px; }
  .header__container {
    max-width: 1145px;
    height: 100%;
    margin: 0 auto; }
  .header__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 45px; }
    @media (max-width: 1280px) {
      .header__top {
        padding: 45px 120px; } }
    @media (max-width: 650px) {
      .header__top {
        padding: 45px 60px; } }
  .header__link {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    letter-spacing: 3px;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s; }
  .header__action {
    position: relative; }
    @media (max-width: 1280px) {
      .header__action {
        display: none; } }
    .header__action:after {
      content: "";
      position: absolute;
      height: 2px;
      width: 67px;
      background-color: #ff9c8e;
      top: 26px;
      left: 0;
      border-radius: 4px; }
  .header__title {
    width: 490px;
    height: 355px;
    position: absolute;
    top: 225px;
    left: 220px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    color: white; }
    @media (max-width: 1280px) {
      .header__title {
        z-index: 1; } }
    @media (max-width: 800px) {
      .header__title {
        top: 225px;
        left: 27px;
        width: 290px; } }
  @media (max-width: 685px) {
    .header__heading {
      font-size: 48px;
      line-height: 52px;
      width: 190px; } }
  .header__text {
    width: 362px;
    font-weight: 300;
    font-size: 18px;
    line-height: 27px; }
    @media (max-width: 685px) {
      .header__text {
        width: 190px; } }
  .header__button {
    margin-top: 53px; }
  .header__toggler-label {
    display: none;
    width: 18px;
    height: 12px;
    background-image: url("../images/toggler.png"); }
    @media (max-width: 1280px) {
      .header__toggler-label {
        display: inline-block;
        z-index: 2; } }
  .header__toggler {
    display: none; }
    @media (max-width: 1280px) {
      .header__toggler:checked ~ .nav {
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        -webkit-animation: 0.7s surf-nav;
                animation: 0.7s surf-nav; } }
  @media (max-width: 1280px) and (max-width: 400px) {
    .header__toggler:checked ~ .nav {
      z-index: 2; } }
    @media (max-width: 1280px) {
      @-webkit-keyframes surf-nav {
        from {
          right: -300px; }
        to {
          left: 0; } }
      @keyframes surf-nav {
        from {
          right: -300px; }
        to {
          left: 0; } }
      .header__toggler:checked + .header__toggler-label {
        width: 16px;
        height: 16px;
        background-image: url("../images/close.svg"); } }
  @media (max-width: 1280px) and (max-width: 400px) {
    .header__toggler:checked + .header__toggler-label {
      position: relative;
      z-index: 3; } }

.nav {
  position: relative;
  left: -100px; }
  @media (max-width: 1280px) {
    .nav {
      display: none;
      background-color: #008aff; } }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style: none; }
    @media (max-width: 1280px) {
      .nav__list {
        position: absolute;
        top: 35%;
        right: 7%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end; } }
  .nav__item, .nav__item-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 7px 20px;
    margin: 0 14px;
    border-radius: 8px;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    letter-spacing: 3px;
    text-transform: uppercase;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s; }
    @media (max-width: 1280px) {
      .nav__item, .nav__item-mobile {
        font-size: large; } }
    .nav__item:hover, .nav__item-mobile:hover {
      background-color: rgba(255, 156, 142, 0.8); }
  .nav__link {
    color: white;
    text-decoration: none;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    outline: none; }
    .nav__link:focus {
      -webkit-box-shadow: 0 0 1px 1px #ff9c8e;
              box-shadow: 0 0 1px 1px #ff9c8e;
      border-radius: 2px; }

.mobile_action {
  display: none; }

@media (max-width: 1280px) {
  .mobile_action {
    display: inline-block;
    position: relative;
    margin-top: 20px;
    padding-right: 35px; }
    .mobile_action:after {
      content: "";
      position: absolute;
      height: 2px;
      width: 67px;
      background-color: #ff9c8e;
      top: 26px;
      left: 0;
      border-radius: 4px; } }

.logo {
  width: 45px;
  height: 26px;
  background-image: url("../images/logo/Air.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  outline: none;
  position: relative;
  z-index: 2; }
  .logo:focus {
    -webkit-box-shadow: 0 0 1px 1px #ff9c8e;
            box-shadow: 0 0 1px 1px #ff9c8e;
    border-radius: 2px; }

.button {
  width: 226px;
  height: 50px;
  display: block;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  font-weight: 400;
  color: white;
  background-color: #ff9c8e;
  border: none;
  border-radius: 64px;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  outline: none; }
  @media (max-width: 685px) {
    .button {
      width: 160px;
      height: 50px; } }
  .button:hover {
    color: white;
    background-color: #008aff;
    border: 2px solid #ff9c8e;
    border-radius: 64px;
    cursor: pointer; }
  .button:focus {
    -webkit-box-shadow: 0 0 1px 1px #4d90f0;
            box-shadow: 0 0 1px 1px #4d90f0; }

.header__gallery {
  width: 687px;
  position: absolute;
  bottom: 0;
  right: 0; }

.switch {
  /*при наведении на стрелки или переключатели - курсор изменится*/
  cursor: pointer; }

.slides .photo {
  /*все изображения справа друг от друга*/
  float: left; }

.slides .image {
  /*устанавливает общий размер блока с изображениями*/
  width: 300%;
  line-height: 0;
  -webkit-transition: all 800ms cubic-bezier(0.77, 0, 0.17, 1);
  transition: all 800ms cubic-bezier(0.77, 0, 0.17, 1); }

.overflow {
  /*сркывает все, что находится за пределами этого блока*/
  width: 100%;
  border-radius: 200px 0 0;
  overflow: hidden; }

.photo .img {
  /*размер изображений слайдера*/
  width: 100%; }

.controls .switch {
  /*прозрачность стрелок при отводе курсора*/
  -webkit-transition: opacity 0.2s ease-out;
  transition: opacity 0.2s ease-out; }

.active .switch {
  /*стиль отдельного переключателя*/
  border-radius: 10px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: white; }

.controls .switch:hover {
  /*прозрачность стрелок при наведении*/
  opacity: 0.6; }

.active .switch:hover {
  /*поведение чекбокса при наведении*/
  background: #76c8ff; }

/*настройка переключения и положения для левой стрелки*/
#switch1:checked ~ .controls .switch:nth-child(3),
#switch2:checked ~ .controls .switch:nth-child(1),
#switch3:checked ~ .controls .switch:nth-child(2) {
  display: block;
  height: 68px;
  width: 68px;
  position: absolute;
  left: 15%;
  bottom: 10%;
  background: url("../images/slider/arrow-left.svg") no-repeat; }
  @media (max-width: 685px) {
    #switch1:checked ~ .controls .switch:nth-child(3),
    #switch2:checked ~ .controls .switch:nth-child(1),
    #switch3:checked ~ .controls .switch:nth-child(2) {
      display: none; } }
  #switch1:checked ~ .controls .switch:nth-child(3)::before,
  #switch2:checked ~ .controls .switch:nth-child(1)::before,
  #switch3:checked ~ .controls .switch:nth-child(2)::before {
    content: "";
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    position: absolute;
    left: -20%;
    bottom: 45%; }
    @media (max-width: 685px) {
      #switch1:checked ~ .controls .switch:nth-child(3)::before,
      #switch2:checked ~ .controls .switch:nth-child(1)::before,
      #switch3:checked ~ .controls .switch:nth-child(2)::before {
        display: none; } }

/*настройка переключения и положения для правой стрелки*/
#switch1:checked ~ .controls .switch:nth-child(2),
#switch2:checked ~ .controls .switch:nth-child(3),
#switch3:checked ~ .controls .switch:nth-child(1) {
  display: block;
  height: 68px;
  width: 68px;
  position: absolute;
  left: 25%;
  bottom: 10%;
  background: url("../images/slider/arrow-right.svg") no-repeat; }
  @media (max-width: 685px) {
    #switch1:checked ~ .controls .switch:nth-child(2),
    #switch2:checked ~ .controls .switch:nth-child(3),
    #switch3:checked ~ .controls .switch:nth-child(1) {
      display: none; } }
  #switch1:checked ~ .controls .switch:nth-child(2)::before,
  #switch2:checked ~ .controls .switch:nth-child(3)::before,
  #switch3:checked ~ .controls .switch:nth-child(1)::before {
    content: "";
    width: 50px;
    height: 50px;
    background: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    position: absolute;
    left: -30%;
    bottom: 45%; }
    @media (max-width: 685px) {
      #switch1:checked ~ .controls .switch:nth-child(2)::before,
      #switch2:checked ~ .controls .switch:nth-child(3)::before,
      #switch3:checked ~ .controls .switch:nth-child(1)::before {
        display: none; } }

.header__gallery .input {
  /*скрывает стандартные инпуты (чекбоксы) на странице*/
  display: none; }

/*позиция изображения при активации переключателя*/
#switch1:checked ~ .slides .image {
  margin-left: 0; }

#switch2:checked ~ .slides .image {
  margin-left: -100%; }

#switch3:checked ~ .slides .image {
  margin-left: -200%; }

.active {
  /*расположение блока с переключателями*/
  position: absolute;
  bottom: 20px;
  left: 50%; }
  @media (max-width: 500px) {
    .active {
      left: 60%; } }
  @media (max-width: 350px) {
    .active {
      left: 70%; } }

/*цвет активного лейбла при активации чекбокса*/
#switch1:checked ~ .active .switch:nth-child(1),
#switch2:checked ~ .active .switch:nth-child(2),
#switch3:checked ~ .active .switch:nth-child(3) {
  background: #008aff; }

/*# sourceMappingURL=main.css.map */
